# Copyright 2025 NVIDIA CORPORATION
# SPDX-License-Identifier: Apache-2.0

name: KAI Scheduler - Pull Request
on:
  pull_request:
    types: [opened, reopened, synchronize]
  merge_group:
    types: [checks_requested]

concurrency:
  group: ${{ github.event_name == 'merge_group' && github.ref || github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  sleep-10:
    name: Sleep 10 seconds
    runs-on: ubuntu-latest
    steps:
      - name: Sleep
        run: sleep 10
